.Case {
  padding: 1em;
  transition: 200ms all ease-in-out;
  cursor: move;
  background: $whitish;
  font-weight: bold;
  margin: 2vh;
  height: 7.8vh;
  font-size: 3vh;
  line-height: 2.5vh;
}

.Case--blink {
  background-color: yellow;
  color: black;
  animation: blink 2s step-start infinite;
}

@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: white;
  }
}