.Case {
  background: green;
  color: white;
  padding: 1em;
  margin: 1em;
  transition: 200ms all ease-in-out;
  cursor: move;
}

.Case--blink {
  background-color: yellow;
  color: black;
  -webkit-animation: blink step-start 1s 0s infinite;
  animation: blink step-start 1s 0s infinite;
}

@-webkit-keyframes blink {
  0% {
    box-shadow: blue 0 0 10px;
  }
  50% {
    box-shadow: purple 0 0 10px;
  }
  100% {
    box-shadow: blue 0 0 10px;
  }
}

@keyframes blink {
  0% {
    box-shadow: blue 0 0 10px;
  }
  50% {
    box-shadow: purple 0 0 10px;
  }
  100% {
    box-shadow: blue 0 0 10px;
  }
}