.Column {
  display: inline-block;
  color: white;
  padding: 0;
  text-align: center;
  height: 100%;
}

.Column--1 {
  width: 100%;
}

.Column--2 {
  width: 50%;
}

.Column--3 {
  width: 33.33333%;
}

.Column--4 {
  width: 25%;
}

.Column--UNITS {
  color: $UNITS;
}

.Column--TENS {
  color: $TENS;
}

.Column--HUNDREDS {
  color: $HUNDREDS;
}

.Column--THOUSANDS {
  color: $THOUSANDS;
}
