.ExpectCase {
  display: inline-block;
  vertical-align: middle;
  background: red;
  color: white;
  margin: 0.1em;
  padding: 1em;
  font-size: 1.2em;
  transition: 200ms all ease-in-out;
}

.ExpectCase--guessed {
  background-color: green;
}

.ExpectCase--hover {
  background-color: blue;
}