.ExpectCase {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  transition: 200ms all ease-in-out;
  height: auto;
  background: white;
  color: #000;
  font-weight: bold;
  margin: 4%;
  text-align: center;
  font-size: 3vw;
  border: 8px solid transparent;
}

.ExpectCase--1 {
  width: 92%;
}

.ExpectCase--2 {
  width: 42%;
}

.ExpectCase--3 {
  width: 25%;
}

.ExpectCase--4 {
  margin: 2%;
  width: 20%;
}

.ExpectCase--guessed {
  border: 8px solid green;
}

.ExpectCase--hover {
  border: 8px solid pink;
}

.ExpectCase--UNITS {
  color: $UNITS;
}

.ExpectCase--TENS {
  color: $TENS;
}

.ExpectCase--HUNDREDS {
  color: $HUNDREDS;
}

.ExpectCase--THOUSANDS {
  color: $THOUSANDS;
}
