.SplashScreen,
.GameOver,
.Params {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 20px solid $whitish;
  padding: 20px;
  font-size: 18px;
  color: $whitish;
  background-color: $blue;
  overflow: auto;
}

.Params-title,
.GameOver-title,
.SplashScreen-title {
  text-align: center;
}

.SplashScreen-description {
  background: lighten($blue, 10%);
  padding: 20px 50px;
  line-height: 1.4;
  margin: 10px 0 50px;
  border-radius: 20px;
}

.Params-resume,
.GameOver-restart,
.SplashScreen-begin {
  display: block;
  margin: 50px auto 20px;
  background: $pink;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  transition: 200ms all ease-in-out;
  border: 4px solid transparent;

  &:hover {
    border: 4px solid $pink;
    background-color: lighten($blue, 60%);
    color: $pink;
  }

}
