// Tried to find the most playful colors. Here ot is !
$pink: #d9005f;
$orange: #ff7f00;
$blue: #00819f;
$green: #87ea00;
$whitish: #f4f7f5;

// Header positioning
$header_position: 54px;

// numbers colors
$UNITS: green;
$TENS: blue;
$HUNDREDS: red;
$THOUSANDS: magenta;