* {
  box-sizing: border-box;
}

html, body  {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#root,
.App {
  width: 100%;
}

.Columns,
.Expect {
  display: inline-block;
  vertical-align: top;
}

.Columns {
  width: 50%;
  background-color: #ccc;
}

.Expect {
  width: 40%;
  text-align: left;
  background-color: #aaa;
  padding: 2em;
}

@import "vars";
@import "column";
@import "case";
@import "expect-case";
@import "splashscreen";
@import "configurator";