@import "vars";

* {
  box-sizing: border-box;
}

html, body  {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#root,
.App {
  position: fixed;
  padding-top: $header_position;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  overflow: auto;
}

.Columns,
.Expect {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
}

.Columns {
  border-right: 4px solid #333;
}

.Expect {
  text-align: left;
  background-color: #aaa;
  padding: 2em;
}

@import "column";
@import "case";
@import "expect-case";
@import "splashscreen";
@import "header";
@import "configurator";